@page "/users/add"
@attribute [Authorize]
@inject IAlertService AlertService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h1>Add User</h1>
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-row">
        <div class="form-group col">
            <label>First Name</label>
            <InputText @bind-Value="model.FirstName" class="form-control" />
            <ValidationMessage For="@(() => model.FirstName)" />
        </div>
        <div class="form-group col">
            <label>Last Name</label>
            <InputText @bind-Value="model.LastName" class="form-control" />
            <ValidationMessage For="@(() => model.LastName)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Username</label>
            <InputText @bind-Value="model.Username" class="form-control" />
            <ValidationMessage For="@(() => model.Username)" />
        </div>
        <div class="form-group col">
            <label>Country</label>
            <InputSelect @bind-Value="model.Country" class="form-control">
                <option value="Other"></option>
                <option value="Islamic Republic of Pakistan">Pakistan</option>
                <option value="Federative Republic of Brazil">Brazil</option>
                <option value="United States of America">USA</option>
                <option value="The Russian Federation">Russia</option>
                <option value="People's Republic of China">China</option>
            </InputSelect>
            <ValidationMessage For="@(() => model.Country)" />
        </div>
        <div class="form-group col">
            <label>Password</label>
            <InputText @bind-Value="model.Password" type="password" class="form-control" />
            <ValidationMessage For="@(() => model.Password)" />
        </div>
        <div class="form-group col">
            <label> Confirm Password </label>
            <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" />
            @if (!string.IsNullOrEmpty(model.ConfirmPassword) && model.ConfirmPassword != model.Password)
            {
                <p class="text-danger">Passwords do not match</p>
            }
        </div>
    </div>
    <div class="form-group">
        <button disabled="@loading" class="btn btn-primary">
            @if (loading) 
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Save
        </button>
        <NavLink href="users" class="btn btn-link">Cancel</NavLink>
    </div>
</EditForm>

@code {
    private AddUser model = new AddUser();
    private bool loading;

    private async Task OnValidSubmit()
    {
        loading = true;
        try
        {
            
            if (model.ConfirmPassword != model.Password)
            {
                throw new Exception("Passwords do not match");
            }       

            await AccountService.Register(model);
            AlertService.Success("User added successfully", keepAfterRouteChange: true);
            NavigationManager.NavigateTo("users");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}